@{
    Layout = null;
}
@using UsersAndAwards.BLL.Dependencies

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show Awards</title>
</head>
<body>
    <div>
        <button type="button" id="homeBtn">Home</button><br />
        ID | Title

        @{


            var _userBLL = UsersAndAwardsBLLDependencies.UserLogic;
            var _awardBLL = UsersAndAwardsBLLDependencies.AwardLogic;

            foreach (var award in _awardBLL.GetAll())
            {
                <div>
                    <img src=@award.ImageURL height="25" width="25" /> @award
                </div>
            }

        }
    </div>
    <script src="~/js/HomeButton.js"></script>
</body>
</html>
